* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--symbol-color);
    font-family: 'Roboto';
}

:root {
    --symbol-color: white;
    --main-bg-color: #5A5B5D;
    --num-bg-color: #757678;
    --grad-first-bg-color:powderblue;
    --grad-second-bg-color:pink;
    --button-border-bg-color: #4A4C4D;
    --easy-oper-bg-color:#FE9F07;
    --active-buuton-bg-color:#FF7A6B;
    --result-bg-color: #48494B;
  }

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top left, var(--grad-first-bg-color), var(--grad-second-bg-color));
}

button{
    margin: -2px;
    padding: 0;
    border: 1px solid var(--button-border-bg-color);
}

.container{
    display: flex;
    flex-direction: column;
    width: 350px;
    border-radius: 20px;
}

.separation{
    margin-bottom: 3px;
    margin-left: 2px;
    display: flex;
    justify-content:space-around;
}

.separation:not(1){
    margin-top: 4px;
    display:flex;
    justify-content:space-around;
}

.separation:nth-child(6){
    display: flex;
}

.separation:nth-child(6) .calc__butt:nth-child(7) {
    border-radius: 0 0 16px 0;
}

.separation:nth-child(6) .calc__butt:nth-child(1) {
    border-radius: 0 0 0 16px;
}

.calc__butt{
    width: 50px;
    height: 50px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    background: var(--main-bg-color);
}

.calc__butt.num, 
.separation:nth-child(6) .calc__butt:nth-child(5){
    background: var(--num-bg-color);
}

.calc__butt.expr{
    background: var(--easy-oper-bg-color);
}

.calc__butt:active + span, .calc__butt:active{
    background: var(--active-buuton-bg-color);
}

.calc__result{
    padding: 15px 10px 0 0;
    background: var(--result-bg-color);
    font-size: 40px;
    margin-left: 2px;
    text-align: right;
    border: none;
    cursor: default;    
    border-radius: 16px 16px 0 0;
    resize: none;
}

.calc__result:focus{
    outline: none;
}

.sup{
    vertical-align: super;
    font-size: 12px;
}

.sub{
    vertical-align: sub;
    font-size: 12px;
}

.div__size{
    font-size: 20px;
}